* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(48, 48, 48);
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #fff;
    color: #000;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: #fff;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

@media only screen and (max-width: 600px) {
    span#burguer {
        display: block; /* Mostra o ícone do menu hamburguer em telas menores */
    }

    menu {
        display: none; /* Inicialmente, oculte o menu completo em telas menores */
    }

    menu.show {
        display: block; /* Mostra o menu completo quando a classe 'show' é aplicada */
    }
}

@media only screen and (min-width: 601px) {
    span#burguer {
        display: none; /* Oculta o ícone do menu hamburguer em telas maiores */
    }

    menu {
        display: flex;
        justify-content: center; /* Mostra o menu completo em telas maiores */
    }

    menu li {
        display: inline-block;
        margin-right: 20px;
    }

    menu.show {
        display: block; /* Mantém a classe 'show' para o menu completo em telas maiores */
    }
}